Repository AlesInfiny/maia, pull requests merged in 2025-03, with the labels that each got.

#1943 MyBatis Generatorをgradleで起動する
  samples/web-csr/dressca-backend/dependencies.gradle
  samples/web-csr/dressca-backend/infrastructure/build.gradle
  samples/web-csr/dressca-backend/infrastructure/src/main/resources/mybatisGeneratorConfig.xml
Labels: target: Dressca

#2036 ドキュメントで「フロントエンド」と「クライアントサイド」、「バックエンド」と「サーバーサイド」を使い分けるように修正
  documents/contents/app-architecture/client-side-rendering/frontend-application/index.md
  documents/contents/app-architecture/client-side-rendering/global-function/exception-handling.md
  documents/contents/app-architecture/client-side-rendering/global-function/index.md
  documents/contents/app-architecture/client-side-rendering/index.md
  documents/contents/app-architecture/client-side-rendering/test/index.md
  documents/contents/app-architecture/index.md
  documents/contents/guidebooks/how-to-develop/java/application-structure.md
  documents/contents/guidebooks/how-to-develop/java/common-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/create-project.md
  documents/contents/guidebooks/how-to-develop/java/index.md
  documents/contents/guidebooks/how-to-develop/java/preparation.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/application-core-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/batch-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/exception-handling.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/index.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/infrastructure-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/message-management.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/project-version-control.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/system-common-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/web-project-settings.md
  documents/contents/guidebooks/how-to-develop/vue-js/create-api-client-code.md
  documents/contents/guidebooks/how-to-develop/vue-js/create-vuejs-blank-project.md
  documents/contents/guidebooks/how-to-develop/vue-js/css.md
  documents/contents/guidebooks/how-to-develop/vue-js/error-handler-settings.md
  documents/contents/guidebooks/how-to-develop/vue-js/folder-structure-of-blank-project.md
  documents/contents/guidebooks/how-to-develop/vue-js/index.md
  documents/contents/guidebooks/how-to-develop/vue-js/input-validation.md
  documents/contents/guidebooks/how-to-develop/vue-js/message-management.md
  documents/contents/guidebooks/how-to-develop/vue-js/optional-packages.md
  documents/contents/guidebooks/how-to-develop/vue-js/preparation.md
  documents/contents/guidebooks/how-to-develop/vue-js/project-settings.md
  documents/contents/guidebooks/how-to-develop/vue-js/setting-workspaces.md
  documents/contents/guidebooks/how-to-develop/vue-js/static-verification-and-format.md
Labels: 不具合

#1959 Dresscaのローディングスピナーの対応漏れを修正
  samples/web-csr/dressca-frontend/consumer/src/components/common/LoadingSpinner.vue
  samples/web-csr/dressca-frontend/consumer/src/components/common/LoadingSpinnerOverlay/LoadingSpinnerOverlay.vue
  samples/web-csr/dressca-frontend/consumer/src/components/common/LoadingSpinnerOverlay/index.ts
  samples/web-csr/dressca-frontend/consumer/src/views/basket/BasketView.vue
  samples/web-csr/dressca-frontend/consumer/src/views/catalog/CatalogView.vue
  samples/web-csr/dressca-frontend/consumer/src/views/ordering/DoneView.vue
Labels: target: Dressca, 内部の改善

#1968 管理アプリでAPI からデータが返ってくるまで画面にロード中を示すスピナーを表示
  samples/web-csr/dressca-frontend/admin/src/components/common/LoadingSpinnerOverlay/LoadingSpinnerOverlay.vue
  samples/web-csr/dressca-frontend/admin/src/components/common/LoadingSpinnerOverlay/index.ts
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsAddView.vue
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsEditView.vue
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsView.vue
Labels: target: Dressca, target: ガイド/AP開発手順

#2024 Azure AD B2C 認証サンプルで、 Spring Cloud Azure のバージョン管理に BOM を使用するよう修正
  samples/azure-ad-b2c-sample/auth-backend/dependencies.gradle
Labels: target: Azure AD B2C Auth

#2090 Spring Security のバージョン指定を削除
  samples/web-csr/dressca-backend/dependencies.gradle
Labels: target: Dressca

#2059 Snippetsを追加
  documents/README.md
  documents/contents/guidebooks/how-to-develop/cors/index.md
  documents/contents/guidebooks/how-to-develop/java/common-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/exception-handling.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/message-management.md
  documents/contents/guidebooks/how-to-develop/local-environment/index.md
  documents/hooks/__pycache__/github_markdown_fetcher.cpython-313.pyc
  documents/hooks/github_markdown_fetcher.py
  documents/mkdocs.yml
Labels: 内部の改善, target: 管理系ドキュメント

#1901 ログをJSON形式で出力するよう修正
  samples/azure-ad-b2c-sample/auth-backend/system-common/build.gradle
  samples/azure-ad-b2c-sample/auth-backend/system-common/src/main/java/com/dressca/systemcommon/log/AbstractStructuredLogger.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/advice/ExceptionHandlerControllerAdvice.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/log/DresscaStructuredLoggerImpl.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/security/UserIdThreadContextFilter.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/resources/application-common.properties
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/resources/log4j2-spring.xml
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/applicationservice/AssetApplicationService.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/applicationservice/CatalogApplicationService.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/applicationservice/OrderApplicationService.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/applicationservice/ShoppingApplicationService.java
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/applicationservice/AssetApplicationServiceTest.java
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/applicationservice/CatalogApplicationServiceTest.java
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/applicationservice/OrderApplicationServiceTest.java
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/applicationservice/ShoppingApplicationServiceTest.java
  samples/web-csr/dressca-backend/batch/src/main/java/com/dressca/batch/job/JobCompletionNotificationListener.java
  samples/web-csr/dressca-backend/batch/src/main/java/com/dressca/batch/log/DresscaStructuredLoggerImpl.java
  samples/web-csr/dressca-backend/batch/src/main/resources/application-common.properties
  samples/web-csr/dressca-backend/batch/src/main/resources/log4j2-spring.xml
  samples/web-csr/dressca-backend/system-common/build.gradle
  samples/web-csr/dressca-backend/system-common/src/main/java/com/dressca/systemcommon/log/AbstractStructuredLogger.java
  samples/web-csr/dressca-backend/web-admin/src/main/java/com/dressca/web/admin/controller/AssetsController.java
  samples/web-csr/dressca-backend/web-admin/src/main/java/com/dressca/web/admin/controller/CatalogItemsController.java
  samples/web-csr/dressca-backend/web-admin/src/main/java/com/dressca/web/admin/log/DresscaStructuredLoggerImpl.java
  samples/web-csr/dressca-backend/web-admin/src/main/resources/application-common.properties
  samples/web-csr/dressca-backend/web-admin/src/main/resources/log4j2-spring.xml
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/controller/AssetsController.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/controller/OrderController.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/log/DresscaStructuredLoggerImpl.java
  samples/web-csr/dressca-backend/web-consumer/src/main/resources/application-common.properties
  samples/web-csr/dressca-backend/web-consumer/src/main/resources/log4j2-spring.xml
  samples/web-csr/dressca-backend/web/src/main/java/com/dressca/web/controller/advice/ExceptionHandlerControllerAdvice.java
  samples/web-csr/dressca-backend/web/src/main/java/com/dressca/web/controller/advice/LocalExceptionHandlerControllerAdvice.java
  samples/web-csr/dressca-backend/web/src/test/java/com/dressca/web/controller/AssetsController.java
  samples/web-csr/dressca-backend/web/src/test/java/com/dressca/web/controller/advice/ExceptionHandlerControllerAdviceTest.java
  samples/web-csr/dressca-backend/web/src/test/java/com/dressca/web/controller/advice/LocalExceptionHandlerControllerAdviceTest.java
  samples/web-csr/dressca-backend/web/src/test/java/com/dressca/web/log/DresscaStructuredLoggerImpl.java
  samples/web-csr/dressca-backend/web/src/test/resources/log4j2.xml
Labels: target: Dressca, target: Azure AD B2C Auth

#1960 開発環境で複数アプリケーションが同じH2 Databaseを参照する方法をガイドへ追加
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/web-project-settings.md
  samples/web-csr/dressca-backend/web-admin/src/main/java/com/dressca/web/admin/config/DresscaWebConfig.java
  samples/web-csr/dressca-backend/web-admin/src/main/java/com/dressca/web/admin/config/H2ServerLauncher.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/config/DresscaWebConfig.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/config/H2ServerLauncher.java
Labels: target: Dressca, target: ガイド/AP開発手順

#2060 楽観ロックエラーのメッセージを削除にも対応するように修正
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/applicationservice/CatalogApplicationService.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/catalog/OptimisticLockingFailureException.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/constant/ExceptionIdConstants.java
  samples/web-csr/dressca-backend/application-core/src/main/resources/applicationcore/messages.properties
Labels: 不具合, target: Dressca

#2087 JUnitテストのCIをJUnitレポートに限定
  .github/workflows/back-sample-pull-request-ut.yml
  .github/workflows/samples-azure-ad-b2c-ci.yml
Labels: CI/CD

#2118 カタログアイテムの削除を論理削除にする
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/applicationservice/CatalogApplicationService.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/catalog/CatalogItem.java
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/applicationservice/CatalogApplicationServiceTest.java
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/applicationservice/ShoppingApplicationServiceTest.java
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/catalog/CatalogDomainServiceTest.java
  samples/web-csr/dressca-backend/batch/src/test/java/com/dressca/batch/CatalogItemJobTest.java
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/MybatisCatalogRepository.java
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/generated/entity/CatalogItemEntity.java
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/generated/entity/CatalogItemEntityExample.java
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/mapper/JoinedCatalogItemMapper.xml
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/translator/EntityTranslator.java
  samples/web-csr/dressca-backend/infrastructure/src/main/resources/com/dressca/infrastructure/repository/mybatis/generated/mapper/CatalogItemMapper.xml
  samples/web-csr/dressca-backend/infrastructure/src/main/resources/data.sql
  samples/web-csr/dressca-backend/infrastructure/src/main/resources/schema.sql
Labels: target: Dressca

#2104 READMEの軽微な修正を行う
  documents/README.md
Labels: target: 管理系ドキュメント

#2166 Dresscaのライブラリのアップデートに合わせてapi仕様書とクライアントコードを再生成
  samples/web-csr/dressca-backend/api-docs/web-admin/api-specification.json
  samples/web-csr/dressca-backend/api-docs/web-consumer/api-specification.json
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/api/actuator-api.ts
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/api/actuator-api.ts
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/models/problem-detail.ts
Labels: target: Dressca

#2174 ADB2Cサンプルのライブラリのアップデートに合わせてapi仕様書とクライアントコードを再生成
  samples/azure-ad-b2c-sample/auth-backend/api-docs/api-specification.json
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/models/problem-detail.ts
Labels: target: Azure AD B2C Auth

#2178 ADB2CサンプルのCheckstyleのツールバージョンを10.21.4に更新
  samples/azure-ad-b2c-sample/auth-backend/build.gradle
Labels: dependencies, gradle, target: Azure AD B2C Auth

#2177 DresscaのCheckstyleのツールバージョンを10.21.4に更新
  samples/web-csr/dressca-backend/build.gradle
Labels: dependencies, gradle, target: Dressca

#2176 Pinia3.0バージョンアップ対応
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/azure-ad-b2c-sample/auth-frontend/app/src/stores/authentication/authentication.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/stores/server-time/server-time.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/stores/user/user.ts
  samples/azure-ad-b2c-sample/auth-frontend/package-lock.json
  samples/web-csr/dressca-frontend/admin/package.json
  samples/web-csr/dressca-frontend/admin/src/shared/authentication/authentication-guard.ts
  samples/web-csr/dressca-frontend/admin/src/stores/authentication/authentication.ts
  samples/web-csr/dressca-frontend/admin/src/stores/notification/notification.ts
  samples/web-csr/dressca-frontend/admin/src/stores/routing/routing.ts
  samples/web-csr/dressca-frontend/consumer/package.json
  samples/web-csr/dressca-frontend/consumer/src/stores/authentication/authentication.ts
  samples/web-csr/dressca-frontend/consumer/src/stores/basket/basket.ts
  samples/web-csr/dressca-frontend/consumer/src/stores/catalog/catalog.ts
  samples/web-csr/dressca-frontend/consumer/src/stores/notification/notification.ts
  samples/web-csr/dressca-frontend/consumer/src/stores/routing/routing.ts
  samples/web-csr/dressca-frontend/consumer/src/stores/special-content/special-content.ts
  samples/web-csr/dressca-frontend/consumer/src/stores/user/user.ts
  samples/web-csr/dressca-frontend/package-lock.json
Labels: npm, target: Dressca, target: Azure AD B2C Auth

#2184 PythonのキャッシュファイルをGitHubの管理対象から除外
  documents/.gitignore
  documents/hooks/__pycache__/github_markdown_fetcher.cpython-313.pyc
Labels: 内部の改善
