Repository AlesInfiny/maia, pull requests merged in 2025-06, with the labels that each got.

#2537 @babel/runtime の脆弱性に対応してアップデート
  samples/azure-ad-b2c-sample/auth-frontend/package-lock.json
  samples/web-csr/dressca-frontend/package-lock.json
Labels: npm, target: Dressca, target: Azure AD B2C Auth

#2536 eslint-plugin-vueを9.33.0にバージョンアップ
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/azure-ad-b2c-sample/auth-frontend/package-lock.json
  samples/web-csr/dressca-frontend/admin/package.json
  samples/web-csr/dressca-frontend/consumer/package.json
  samples/web-csr/dressca-frontend/package-lock.json
Labels: npm, target: Dressca, target: Azure AD B2C Auth

#2546 AzureADB2CサンプルのフロントエンドCIでテストを実行する
  .github/workflows/samples-azure-ad-b2c-ci.yml
  samples/azure-ad-b2c-sample/auth-frontend/package.json
Labels: CI/CD, target: Azure AD B2C Auth

#2548 フロントエンドのフォーマッティングの漏れに対応
  samples/web-csr/dressca-frontend/consumer/src/locales/ja/messageList_ja.json
Labels: 内部の改善

#2533 [AzureADB2CAuth/admin/consumer]openapi-generatorを7.13.0にアップデート
  .markdownlint-cli2.yaml
  .textlintignore
  samples/azure-ad-b2c-sample/auth-frontend/.vscode/settings.json
  samples/azure-ad-b2c-sample/auth-frontend/app/openapitools.json
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/.openapi-generator/FILES
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/.openapi-generator/VERSION
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/docs/ProblemDetail.md
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/docs/ServerTimeApi.md
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/docs/ServerTimeResponse.md
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/docs/UserResponse.md
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/docs/UsersApi.md
  samples/web-csr/dressca-frontend/.vscode/settings.json
  samples/web-csr/dressca-frontend/admin/openapitools.json
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/.openapi-generator/FILES
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/.openapi-generator/VERSION
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/ActuatorApi.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/AssetsApi.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/CatalogBrandsApi.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/CatalogCategoriesApi.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/CatalogItemsApi.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/GetCatalogBrandsResponse.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/GetCatalogCategoriesResponse.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/GetCatalogItemResponse.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/GetLoginUserResponse.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/Link.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/PagedListOfGetCatalogItemResponse.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/PostCatalogItemRequest.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/PutCatalogItemRequest.md
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/docs/UsersApi.md
  samples/web-csr/dressca-frontend/consumer/openapitools.json
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/.openapi-generator/FILES
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/.openapi-generator/VERSION
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/AccountResponse.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/ActuatorApi.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/AssetsApi.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/BasketItemResponse.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/BasketItemsApi.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/BasketResponse.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/CatalogBrandResponse.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/CatalogBrandsApi.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/CatalogCategoriesApi.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/CatalogCategoryResponse.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/CatalogItemResponse.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/CatalogItemSummaryResponse.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/CatalogItemsApi.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/Link.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/OrderItemResponse.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/OrderResponse.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/OrdersApi.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/PagedListOfCatalogItemResponse.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/PostBasketItemsRequest.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/PostOrderRequest.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/ProblemDetail.md
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/docs/PutBasketItemsRequest.md
Labels: target: Dressca, target: Azure AD B2C Auth

#2556 ADB2Cサンプルのルートのpackage.jsonにモックの起動コマンドを追加
  samples/azure-ad-b2c-sample/auth-frontend/package.json
Labels: target: Azure AD B2C Auth

#2628 [AzureADB2CAuth] ESLint 9 にアップデート
  samples/azure-ad-b2c-sample/auth-frontend/.eslintrc.cjs
  samples/azure-ad-b2c-sample/auth-frontend/app/.eslintrc.cjs
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/azure-ad-b2c-sample/auth-frontend/app/src/api-client/index.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/shared/error-handler/custom-error-handler.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/shared/error-handler/global-error-handler.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/vite.config.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/vitest.config.ts
  samples/azure-ad-b2c-sample/auth-frontend/eslint.config.ts
  samples/azure-ad-b2c-sample/auth-frontend/package-lock.json
Labels: target: Azure AD B2C Auth

#2652 [AzureADB2CAuth] TypeScript 5.8.3 にアップグレードする
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/azure-ad-b2c-sample/auth-frontend/app/tsconfig.app.json
  samples/azure-ad-b2c-sample/auth-frontend/app/tsconfig.json
  samples/azure-ad-b2c-sample/auth-frontend/app/tsconfig.node.json
  samples/azure-ad-b2c-sample/auth-frontend/app/tsconfig.vitest.json
  samples/azure-ad-b2c-sample/auth-frontend/package-lock.json
Labels: target: Azure AD B2C Auth

#2661 [Doc]ブランクプロジェクトの作成 でターミナルに表示される文言を最新化する
  documents/contents/guidebooks/how-to-develop/vue-js/create-vuejs-blank-project.md
  documents/contents/guidebooks/how-to-develop/vue-js/setting-workspaces.md
Labels: target: ガイド/AP開発手順

#2578 openapi-generator の batch コマンドを使用してコード生成の設定の保守性をアップする
  documents/contents/guidebooks/how-to-develop/vue-js/create-api-client-code.md
  samples/azure-ad-b2c-sample/auth-frontend/app/openapisettings.json
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/.openapi-generator/FILES
  samples/web-csr/dressca-frontend/admin/openapisettings.json
  samples/web-csr/dressca-frontend/admin/package.json
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/.openapi-generator/FILES
  samples/web-csr/dressca-frontend/consumer/openapisettings.json
  samples/web-csr/dressca-frontend/consumer/package.json
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/.openapi-generator/FILES
Labels: target: Dressca, target: Azure AD B2C Auth, target: ガイド/AP開発手順

#2675 [Doc]typescript@5.8.3 にバージョンアップする
  documents/_materials/images/guidebooks/how-to-develop/vue-js/vue-tsconfig-dark.drawio
  documents/_materials/images/guidebooks/how-to-develop/vue-js/vue-tsconfig-light.drawio
  documents/contents/guidebooks/how-to-develop/vue-js/project-settings.md
  documents/contents/images/guidebooks/how-to-develop/vue-js/vue-tsconfig-dark.png
  documents/contents/images/guidebooks/how-to-develop/vue-js/vue-tsconfig-light.png
Labels: target: ガイド/AP開発手順

#2677 vite-plugin-vue-devtools の導入ほか細かいメンテナンス
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/azure-ad-b2c-sample/auth-frontend/app/vite.config.ts
  samples/azure-ad-b2c-sample/auth-frontend/package-lock.json
  samples/web-csr/dressca-frontend/admin/package.json
  samples/web-csr/dressca-frontend/admin/vite.config.ts
  samples/web-csr/dressca-frontend/consumer/package.json
  samples/web-csr/dressca-frontend/consumer/vite.config.ts
  samples/web-csr/dressca-frontend/package-lock.json
Labels: target: Dressca, target: Azure AD B2C Auth
