Repository AlesInfiny/maia, pull requests merged in 2025-05, with the labels that each got.

#2365 GradleプラグインのtoolVersionをdependabotの検知対象に追加
  samples/azure-ad-b2c-sample/auth-backend/build.gradle
  samples/azure-ad-b2c-sample/auth-backend/dependencies.gradle
  samples/web-csr/dressca-backend/build.gradle
  samples/web-csr/dressca-backend/dependencies.gradle
Labels: CI/CD, 内部の改善

#2302 買い物かごの取得にカタログから削除済みアイテムのIDリストを追加
  samples/web-csr/dressca-backend/api-docs/web-consumer/api-specification.json
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/applicationservice/BasketDetail.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/applicationservice/ShoppingApplicationService.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/catalog/CatalogRepository.java
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/applicationservice/ShoppingApplicationServiceTest.java
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/MybatisCatalogRepository.java
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/mapper/JoinedCatalogItemMapper.java
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/mapper/JoinedCatalogItemMapper.xml
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/controller/BasketItemController.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/controller/dto/baskets/BasketResponse.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/mapper/BasketMapper.java
Labels: target: Dressca

#2268 (admin)通知トーストコンポーネントの内部でストアに依存しないつくりにする
  samples/web-csr/dressca-frontend/admin/src/App.vue
  samples/web-csr/dressca-frontend/admin/src/components/NotificationToast.vue
Labels: target: Dressca

#2358 [Dressca-Consumer]買い物かご画面に Vitest で API コールをモックした自動テストを実装する
  samples/web-csr/dressca-frontend/consumer/package.json
  samples/web-csr/dressca-frontend/consumer/src/shared/error-handler/custom-error.ts
  samples/web-csr/dressca-frontend/consumer/src/views/__tests__/basket/BasketView.spec.ts
  samples/web-csr/dressca-frontend/consumer/src/views/__tests__/helpers/index.ts
  samples/web-csr/dressca-frontend/consumer/src/views/basket/BasketView.vue
  samples/web-csr/dressca-frontend/package-lock.json
Labels: target: Dressca

#2259 consumerのカスタムエラーハンドラーをイベントバスを経由してユーザーへのアクションを行うように変更
  samples/web-csr/dressca-frontend/consumer/package.json
  samples/web-csr/dressca-frontend/consumer/src/App.vue
  samples/web-csr/dressca-frontend/consumer/src/components/common/NotificationToast.vue
  samples/web-csr/dressca-frontend/consumer/src/shared/error-handler/custom-error-handler.ts
  samples/web-csr/dressca-frontend/consumer/src/shared/events/index.ts
  samples/web-csr/dressca-frontend/package-lock.json
Labels: target: Dressca

#2411 インスタンス初期化子の使用を避けるよう修正
  samples/web-csr/dressca-backend/batch/src/main/java/com/dressca/batch/job/catalog/CatalogItemWriterConf.java
  samples/web-csr/dressca-backend/batch/src/main/java/com/dressca/batch/job/tasklet/catalog/CatalogItemTasklet.java
  samples/web-csr/dressca-backend/web/src/main/java/com/dressca/web/controller/advice/ProblemDetailsFactory.java
Labels: target: Dressca

#2409 命名規則に沿っていない定数の変数名を修正
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/assets/AssetTypes.java
  samples/web-csr/dressca-backend/web-admin/src/main/java/com/dressca/web/admin/controller/AssetsController.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/controller/AssetsController.java
  samples/web-csr/dressca-backend/web/src/test/java/com/dressca/web/controller/AssetsController.java
Labels: target: Dressca

#2412 テストクラスのメソッドで使用されていないパラメータを削除
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/catalog/CatalogDomainServiceTest.java
Labels: target: Dressca

#2345 管理者画面で削除済みアイテムをグレーアウトして一覧表示する機能を追加
  samples/web-csr/dressca-backend/api-docs/web-admin/api-specification.json
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/applicationservice/CatalogApplicationService.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/catalog/CatalogRepository.java
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/applicationservice/CatalogApplicationServiceTest.java
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/MybatisCatalogRepository.java
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/mapper/JoinedCatalogItemMapper.java
  samples/web-csr/dressca-backend/infrastructure/src/main/java/com/dressca/infrastructure/repository/mybatis/mapper/JoinedCatalogItemMapper.xml
  samples/web-csr/dressca-backend/infrastructure/src/main/resources/com/dressca/infrastructure/repository/mybatis/generated/mapper/CatalogItemMapper.xml
  samples/web-csr/dressca-backend/web-admin/src/main/java/com/dressca/web/admin/controller/CatalogItemsController.java
  samples/web-csr/dressca-backend/web-admin/src/main/java/com/dressca/web/admin/controller/dto/catalog/GetCatalogItemResponse.java
  samples/web-csr/dressca-backend/web-admin/src/main/java/com/dressca/web/admin/controller/dto/catalog/PutCatalogItemRequest.java
  samples/web-csr/dressca-backend/web-admin/src/main/java/com/dressca/web/admin/mapper/CatalogItemMapper.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/controller/CatalogItemsController.java
  samples/web-csr/dressca-frontend/admin/mock/data/catalog-items.ts
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/models/get-catalog-item-response.ts
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/models/put-catalog-item-request.ts
  samples/web-csr/dressca-frontend/admin/src/services/catalog/catalog-service.ts
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsEditView.vue
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsView.vue
Labels: target: Dressca

#2271 (admin)ログイン画面へのリダイレクト時にルート名・パスパラメーター・クエリパラメーターを引き渡す
  samples/web-csr/dressca-frontend/admin/src/shared/authentication/authentication-guard.ts
  samples/web-csr/dressca-frontend/admin/src/shared/error-handler/custom-error-handler.ts
  samples/web-csr/dressca-frontend/admin/src/stores/routing/routing.ts
  samples/web-csr/dressca-frontend/admin/src/views/authentication/LoginView.vue
Labels: target: Dressca

#2397 （admin）msw を使って Axios interceptor を自動テストする
  samples/web-csr/dressca-frontend/admin/src/api-client/__tests__/api-client.spec.ts
  samples/web-csr/dressca-frontend/admin/src/api-client/index.ts
Labels: target: Dressca

#2391 [Consumer]存在しないルートにアクセスした場合に Not Found ページを表示する
  samples/web-csr/dressca-frontend/consumer/src/locales/en/messageList_en.json
  samples/web-csr/dressca-frontend/consumer/src/locales/ja/messageList_ja.json
  samples/web-csr/dressca-frontend/consumer/src/router/error/error.ts
  samples/web-csr/dressca-frontend/consumer/src/views/error/NotFoundView.vue
Labels: target: Dressca

#2420 [admin]存在しないルートにアクセスした場合にNotFoundページを表示する
  samples/web-csr/dressca-frontend/admin/src/router/error/error.ts
  samples/web-csr/dressca-frontend/admin/src/views/error/NotFoundView.vue
Labels: target: Dressca

#2419 コレクションの空チェックをsize()からisEmpty()に変更
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/accounting/Account.java
Labels: target: Dressca

#2421 ProblemDetailsFactoryのプロファイルのチェックをStreamAPIのanyMatchに変更
  samples/web-csr/dressca-backend/web/src/main/java/com/dressca/web/controller/advice/ProblemDetailsFactory.java
Labels: target: Dressca

#2423 compareToメソッドの結果を0と比較するよう修正
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/accounting/Account.java
Labels: target: Dressca

#2410 リテラルのbuyerIdを定数に変更
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/controller/BasketItemController.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/controller/OrderController.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/filter/BuyerIdFilter.java
  samples/web-csr/dressca-backend/web/src/main/java/com/dressca/web/constant/WebConstants.java
Labels: target: Dressca

#2437 ドキュメントのレベル１見出しのidを修正
  documents/contents/app-architecture/client-side-rendering/backend-application/presentation.md
  documents/contents/app-architecture/client-side-rendering/global-function/health-check-implementation.md
  documents/contents/app-architecture/client-side-rendering/global-function/logging-policy.md
  documents/contents/app-architecture/client-side-rendering/global-function/message-management-policy.md
  documents/contents/app-architecture/overview/java-application-processing-system/exception-handling-policy.md
  documents/contents/app-architecture/overview/java-application-processing-system/health-check-necessity.md
  documents/contents/app-architecture/overview/java-application-processing-system/input-validation-policy.md
  documents/contents/app-architecture/overview/java-application-processing-system/logging-policy.md
  documents/contents/app-architecture/overview/java-application-processing-system/message-management-policy.md
Labels: 内部の改善

#2399 削除済みのアイテムを買い物かごから削除する機能を追加
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/applicationservice/ShoppingApplicationService.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/catalog/CatalogDomainService.java
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/constant/MessageIdConstants.java
  samples/web-csr/dressca-backend/application-core/src/main/resources/applicationcore/messages.properties
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/applicationservice/ShoppingApplicationServiceTest.java
  samples/web-csr/dressca-backend/application-core/src/test/java/com/dressca/applicationcore/catalog/CatalogDomainServiceTest.java
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/controller/BasketItemController.java
  samples/web-csr/dressca-frontend/consumer/mock/data/basket-items.ts
  samples/web-csr/dressca-frontend/consumer/mock/data/catalog-items.ts
  samples/web-csr/dressca-frontend/consumer/mock/handlers/baskets-handler.ts
  samples/web-csr/dressca-frontend/consumer/mock/images/05c0415d57b342e79a10cac9b9cb25a8.png
  samples/web-csr/dressca-frontend/consumer/src/components/__tests__/BasketItem.spec.ts
  samples/web-csr/dressca-frontend/consumer/src/components/basket/BasketItem.vue
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/models/basket-response.ts
  samples/web-csr/dressca-frontend/consumer/src/locales/en/messageList_en.json
  samples/web-csr/dressca-frontend/consumer/src/locales/ja/messageList_ja.json
  samples/web-csr/dressca-frontend/consumer/src/stores/basket/basket.ts
  samples/web-csr/dressca-frontend/consumer/src/views/basket/BasketView.vue
Labels: target: Dressca

#2453 (consumer)ログイン画面へのリダイレクト時にルート名・パスパラメーター・クエリパラメーターを引き渡す
  samples/web-csr/dressca-frontend/consumer/src/App.vue
  samples/web-csr/dressca-frontend/consumer/src/shared/authentication/authentication-guard.ts
  samples/web-csr/dressca-frontend/consumer/src/stores/routing/routing.ts
  samples/web-csr/dressca-frontend/consumer/src/views/authentication/LoginView.vue
Labels: target: Dressca

#2438 (admin)イベントバスを経由してユーザーへのアクションを行う
  samples/web-csr/dressca-frontend/admin/package.json
  samples/web-csr/dressca-frontend/admin/src/App.vue
  samples/web-csr/dressca-frontend/admin/src/components/NotificationToast.vue
  samples/web-csr/dressca-frontend/admin/src/shared/error-handler/custom-error-handler.ts
  samples/web-csr/dressca-frontend/admin/src/shared/events/index.ts
  samples/web-csr/dressca-frontend/package-lock.json
Labels: target: Dressca

#2471 [consumer]カスタムエラーハンドラーのprovide injectをやめる
  samples/web-csr/dressca-frontend/consumer/src/main.ts
  samples/web-csr/dressca-frontend/consumer/src/shared/error-handler/custom-error-handler.ts
  samples/web-csr/dressca-frontend/consumer/src/shared/error-handler/use-custom-error-handler.ts
  samples/web-csr/dressca-frontend/consumer/src/shared/injection-symbols.ts
  samples/web-csr/dressca-frontend/consumer/src/views/__tests__/basket/BasketView.spec.ts
  samples/web-csr/dressca-frontend/consumer/src/views/basket/BasketView.vue
  samples/web-csr/dressca-frontend/consumer/src/views/catalog/CatalogView.vue
  samples/web-csr/dressca-frontend/consumer/src/views/ordering/CheckoutView.vue
  samples/web-csr/dressca-frontend/consumer/src/views/ordering/DoneView.vue
Labels: target: Dressca

#2480 [admin]カスタムエラーハンドラーのprovide-injectをやめる
  samples/web-csr/dressca-frontend/admin/src/main.ts
  samples/web-csr/dressca-frontend/admin/src/shared/error-handler/custom-error-handler.ts
  samples/web-csr/dressca-frontend/admin/src/shared/error-handler/use-custom-error-handler.ts
  samples/web-csr/dressca-frontend/admin/src/shared/injection-symbols.ts
  samples/web-csr/dressca-frontend/admin/src/views/__tests__/ItemsAddView.spec.ts
  samples/web-csr/dressca-frontend/admin/src/views/__tests__/ItemsEditView.spec.ts
  samples/web-csr/dressca-frontend/admin/src/views/__tests__/ItemsView.spec.ts
  samples/web-csr/dressca-frontend/admin/src/views/authentication/LoginView.vue
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsAddView.vue
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsEditView.vue
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsView.vue
Labels: target: Dressca

#2472 (AzureADB2C)カスタムエラーハンドラーを導入
  samples/azure-ad-b2c-sample/auth-frontend/app/.env.mock
  samples/azure-ad-b2c-sample/auth-frontend/app/.eslintrc.cjs
  samples/azure-ad-b2c-sample/auth-frontend/app/mock/browser.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/mock/handlers/index.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/azure-ad-b2c-sample/auth-frontend/app/public/mockServiceWorker.js
  samples/azure-ad-b2c-sample/auth-frontend/app/src/App.vue
  samples/azure-ad-b2c-sample/auth-frontend/app/src/api-client/__tests__/api-client.spec.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/api-client/index.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/main.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/services/authentication/authentication-service.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/shared/custom-errors/index.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/shared/error-handler/custom-error-handler.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/shared/helpers/format-error.ts
  samples/azure-ad-b2c-sample/auth-frontend/package-lock.json
Labels: target: Azure AD B2C Auth

#2510 stylelint 16.20.0 stylelint-config-standard 38.0.0 にアップデート
  samples/web-csr/dressca-frontend/admin/package.json
  samples/web-csr/dressca-frontend/consumer/package.json
  samples/web-csr/dressca-frontend/package-lock.json
Labels: npm
