Repository AlesInfiny/maia, pull requests merged in 2025-01, with the labels that each got.

#1771 Code scanning alertsのDisabled Spring CSRF protectionに対応
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/security/WebSecurityConfig.java
  samples/web-csr/dressca-backend/web/src/main/java/com/dressca/web/security/WebSecurityConfig.java
Labels: 不適当, target: Dressca, target: Azure AD B2C Auth

#1774 ワークフローのサードパーティーアクションのバージョンをコミットハッシュで固定する
  .github/workflows/back-sample-pull-request-ut.yml
  .github/workflows/build-and-release-documents.yml
  .github/workflows/check-openapi-generator-update.yml
  .github/workflows/remove-old-artifacts.yml
  .github/workflows/samples-azure-ad-b2c-ci.yml
Labels: CI/CD

#1791 (ADB2C)Spring Boot 3.4対応
  samples/azure-ad-b2c-sample/README.md
  samples/azure-ad-b2c-sample/auth-backend/api-docs/api-specification.json
  samples/azure-ad-b2c-sample/auth-backend/build.gradle
  samples/azure-ad-b2c-sample/auth-backend/dependencies.gradle
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/models/problem-detail.ts
Labels: dependencies, gradle, target: Azure AD B2C Auth

#1792 Dresscaの管理アプリの導入に当たってクイックスタートの記述を変更する
  documents/contents/index.md
Labels: target: トップページ/テンプレート

#1800 買い物かご画面から不要な表示を削除する
  samples/web-csr/dressca-frontend/consumer/src/views/basket/BasketView.vue
Labels: target: Dressca

#1804 softprops/action-gh-releaseのバージョンを v2.2.1 に更新
  .github/workflows/build-and-release-documents.yml
Labels: dependencies, CI/CD

#1796 (Dressca)Spring Boot 3.4対応
  samples/web-csr/dressca-backend/api-docs/web-admin/api-specification.json
  samples/web-csr/dressca-backend/api-docs/web-consumer/api-specification.json
  samples/web-csr/dressca-backend/application-core/src/main/java/com/dressca/applicationcore/order/CatalogItemOrdered.java
  samples/web-csr/dressca-backend/build.gradle
  samples/web-csr/dressca-backend/config/spotbugs/exclude-filter.xml
  samples/web-csr/dressca-backend/dependencies.gradle
  samples/web-csr/dressca-backend/web-consumer/src/main/java/com/dressca/web/consumer/controller/BasketItemController.java
  samples/web-csr/dressca-backend/web/src/test/java/com/dressca/web/controller/advice/ExceptionHandlerControllerAdviceTest.java
  samples/web-csr/dressca-backend/web/src/test/java/com/dressca/web/controller/advice/LocalExceptionHandlerControllerAdviceTest.java
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/.openapi-generator/FILES
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/api/actuator-api.ts
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/api/actuator-api.ts
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/models/problem-detail.ts
Labels: dependencies, gradle, target: Dressca

#1805 openapi-generator を v7.10.0 にアップデートする
  samples/azure-ad-b2c-sample/auth-frontend/app/openapitools.json
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/.openapi-generator/VERSION
  samples/web-csr/dressca-frontend/admin/openapitools.json
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/.openapi-generator/VERSION
  samples/web-csr/dressca-frontend/consumer/openapitools.json
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/.openapi-generator/VERSION
Labels: target: Dressca, target: Azure AD B2C Auth

#1812 AzureADB2Cサンプルをopenapi-generatorのアップデート検知ワークフローの対象にする
  .github/workflows/check-openapi-generator-update.yml
Labels: CI/CD, 内部の改善

#1798 ユーザーのロールに応じてボタンの表示を活性・非活性にする
  samples/web-csr/dressca-frontend/admin/package.json
  samples/web-csr/dressca-frontend/admin/src/shared/constants/roles.ts
  samples/web-csr/dressca-frontend/admin/src/stores/authentication/authentication.ts
  samples/web-csr/dressca-frontend/admin/src/views/__tests__/ItemsAddView.spec.ts
  samples/web-csr/dressca-frontend/admin/src/views/__tests__/ItemsEditView.spec.ts
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsAddView.vue
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsEditView.vue
  samples/web-csr/dressca-frontend/package-lock.json
Labels: target: Dressca

#1813 mockで設定するロール文字列を修正
  samples/web-csr/dressca-frontend/admin/mock/handlers/users.ts
Labels: 不具合, target: Dressca

#1814 npmパッケージについて、パッチバージョンのバージョンアップ・セキュリティアップデートを実施
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/azure-ad-b2c-sample/auth-frontend/package-lock.json
  samples/web-csr/dressca-frontend/admin/package.json
  samples/web-csr/dressca-frontend/consumer/package.json
  samples/web-csr/dressca-frontend/package-lock.json
Labels: npm, target: Dressca, target: Azure AD B2C Auth

#1816 Dressca の npmパッケージについて、メジャー・マイナーバージョンのアップデートを実施
  samples/web-csr/dressca-frontend/admin/package.json
  samples/web-csr/dressca-frontend/consumer/package.json
  samples/web-csr/dressca-frontend/package-lock.json
Labels: npm, target: Dressca, target: Azure AD B2C Auth

#1815 AzureADB2Cサンプルのnpmパッケージについて、メジャー・マイナーバージョンのアップデートを実施
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/azure-ad-b2c-sample/auth-frontend/package-lock.json
Labels: npm, target: Azure AD B2C Auth

#1839 ドキュメントに記載された階層構造の記述方法やライブラリ名を正しい形に修正
  documents/contents/app-architecture/client-side-rendering/global-function/message-management-policy.md
  documents/contents/app-architecture/overview/java-application-processing-system/logging-policy.md
  documents/contents/app-architecture/overview/java-application-processing-system/message-management-policy.md
  documents/contents/app-architecture/security/xss.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/message-management.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/web-project-settings.md
  documents/contents/guidebooks/how-to-develop/vue-js/message-management.md
  documents/contents/guidebooks/how-to-develop/vue-js/static-verification-and-format.md
Labels: target: アーキテクチャ/CSR, target: アーキテクチャ/概要, target: アーキテクチャ/セキュリティ

#1842 v1.0.0-Beta2の動作確認の結果見つかった不具合の修正
  documents/contents/app-architecture/client-side-rendering/global-function/exception-handling.md
  documents/contents/app-architecture/overview/java-application-processing-system/logging-policy.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/application-core-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/batch-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/infrastructure-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/message-management.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/system-common-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/web-project-settings.md
  documents/contents/guidebooks/how-to-develop/vue-js/error-handler-settings.md
  samples/azure-ad-b2c-sample/README.md
Labels: 内部の改善

#1851 認可の方針と認証の方針のドキュメントの表現を統一
  documents/contents/app-architecture/client-side-rendering/global-function/authentication-and-authorization-policy.md
Labels: target: アーキテクチャ/CSR, 内部の改善

#1857 ドキュメント上のコードスニペットの更新漏れに対応
  documents/contents/guidebooks/how-to-develop/cors/index.md
  documents/contents/guidebooks/how-to-develop/vue-js/create-api-client-code.md
Labels: 不具合, target: ガイド/AP開発手順

#1841 Azure AD B2CのJavadocコメントの体裁を統一する
  samples/azure-ad-b2c-sample/auth-backend/api-docs/api-specification.json
  samples/azure-ad-b2c-sample/auth-backend/system-common/src/main/java/com/dressca/systemcommon/constant/CommonExceptionIdConstants.java
  samples/azure-ad-b2c-sample/auth-backend/system-common/src/main/java/com/dressca/systemcommon/constant/SystemPropertyConstants.java
  samples/azure-ad-b2c-sample/auth-backend/system-common/src/main/java/com/dressca/systemcommon/exception/SystemException.java
  samples/azure-ad-b2c-sample/auth-backend/system-common/src/main/java/com/dressca/systemcommon/util/ApplicationContextWrapper.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/WebApplication.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/constant/WebConstants.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/ServerTimeController.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/UserController.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/advice/ExceptionHandlerControllerAdvice.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/advice/ProblemDetailsFactory.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/dto/auth/UserResponse.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/dto/time/TimeResponse.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/log/ErrorMessageBuilder.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/security/UserIdThreadContextFilter.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/security/WebSecurityConfig.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/test/java/com/dressca/web/controller/ServerTimeControllerTest.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/test/java/com/dressca/web/controller/UserControllerTest.java
Labels: target: Azure AD B2C Auth, 内部の改善

#1876 CONTRIBUTING.mdの文章を修正
  .github/CONTRIBUTING.md
Labels: target: 管理系ドキュメント

#1759 (ADB2C) APIエンドポイントのURIをMarisと統一
  samples/azure-ad-b2c-sample/auth-backend/api-docs/api-specification.json
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/ServerTimeController.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/UserController.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/dto/time/ServerTimeResponse.java
  samples/azure-ad-b2c-sample/auth-backend/web/src/test/java/com/dressca/web/controller/UserControllerTest.java
  samples/azure-ad-b2c-sample/auth-frontend/app/src/api-client/index.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/.openapi-generator/FILES
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/api.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/api/server-time-api.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/api/users-api.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/base.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/common.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/configuration.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/index.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/models/index.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/models/problem-detail.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/models/server-time-response.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/models/user-response.ts
Labels: target: Azure AD B2C Auth

#1889 AzureADB2Cのコントローラの説明を修正
  samples/azure-ad-b2c-sample/auth-backend/api-docs/api-specification.json
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/controller/UserController.java
Labels: target: Azure AD B2C Auth, 内部の改善

#1875 （Dressca）Vitest 3 および Vite 6 にメジャーアップデート
  samples/web-csr/dressca-frontend/admin/package.json
  samples/web-csr/dressca-frontend/consumer/package.json
  samples/web-csr/dressca-frontend/package-lock.json
Labels: target: Dressca

#1877 (AzureADB2C) Vitest 3 および Vite 6 にメジャーアップデート
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/azure-ad-b2c-sample/auth-frontend/package-lock.json
Labels: target: Azure AD B2C Auth

#1888 Javadocコメントの変更をクライアントコードに反映
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/api/assets-api.ts
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/api/catalog-brands-api.ts
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/api/catalog-categories-api.ts
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/api/catalog-items-api.ts
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/api/users-api.ts
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/api/assets-api.ts
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/api/basket-items-api.ts
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/api/catalog-brands-api.ts
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/api/catalog-categories-api.ts
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/api/catalog-items-api.ts
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/api/orders-api.ts
Labels: target: Dressca, target: Azure AD B2C Auth, 内部の改善

#1916 issueの作成処理の終了ステータスが不正な場合にワークフローを異常終了させる
  .github/workflows/check-openapi-generator-update.yml
Labels: CI/CD, 内部の改善

#1772 JWTの検証をSpring Boot の公式ドキュメントと統一
  samples/azure-ad-b2c-sample/auth-backend/web/src/main/java/com/dressca/web/security/WebSecurityConfig.java
Labels: target: Azure AD B2C Auth

#1874 checkstyle.xmlに汎用検査例外のキャッチを禁止する設定を追加
  documents/contents/guidebooks/conventions/coding-conventions.md
  samples/azure-ad-b2c-sample/auth-backend/config/checkstyle/checkstyle.xml
  samples/azure-ad-b2c-sample/auth-backend/config/checkstyle/suppressions.xml
  samples/web-csr/dressca-backend/config/checkstyle/checkstyle.xml
  samples/web-csr/dressca-backend/config/checkstyle/suppressions.xml
Labels: target: Dressca, target: Azure AD B2C Auth, target: ガイド/規約

#1899 コンポーネント内での store の getter の参照を必ず storeToRefs 経由で行うように修正
  samples/azure-ad-b2c-sample/auth-frontend/app/src/App.vue
  samples/web-csr/dressca-frontend/admin/src/stores/routing/routing.ts
  samples/web-csr/dressca-frontend/admin/src/views/authentication/LoginView.vue
  samples/web-csr/dressca-frontend/consumer/src/App.vue
  samples/web-csr/dressca-frontend/consumer/src/stores/counter.ts
  samples/web-csr/dressca-frontend/consumer/src/stores/routing/routing.ts
  samples/web-csr/dressca-frontend/consumer/src/views/authentication/LoginView.vue
  samples/web-csr/dressca-frontend/consumer/src/views/catalog/CatalogView.vue
Labels: target: Dressca, target: Azure AD B2C Auth

#1914 AzureADB2C サンプルにグローバルエラーハンドラーを導入
  samples/azure-ad-b2c-sample/auth-frontend/app/src/main.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/shared/error-handler/global-error-handler.ts
Labels: target: Azure AD B2C Auth

#1913 リアクティブな状態を reactive ではなく ref で宣言する
  samples/web-csr/dressca-frontend/consumer/src/components/common/CarouselSlider.vue
  samples/web-csr/dressca-frontend/consumer/src/components/common/NotificationToast.vue
  samples/web-csr/dressca-frontend/consumer/src/views/basket/BasketView.vue
  samples/web-csr/dressca-frontend/consumer/src/views/catalog/CatalogView.vue
  samples/web-csr/dressca-frontend/consumer/src/views/ordering/DoneView.vue
Labels: target: Dressca

#1738 Vue.js 編のガイドに「モックモードの設定」を追加する
  documents/contents/guidebooks/how-to-develop/vue-js/index.md
  documents/contents/guidebooks/how-to-develop/vue-js/mock-mode-settings.md
  documents/mkdocs.yml
Labels: target: ガイド/AP開発手順
