Repository AlesInfiny/maia, pull requests merged in 2025-04, with the labels that each got.

#2187 Consumerの不要なルーティング定義を削除
  samples/web-csr/dressca-frontend/consumer/src/router/ordering/ordering.ts
Labels: 不具合, target: Dressca

#2203 ドキュメントに記載されたGitHubの名称を正式な記載に修正する
  .github/workflows/build-and-release-documents.yml
  documents/README.md
Labels: CI/CD, target: 管理系ドキュメント

#2189 authentication-guardのチェック対象のパス指定方法をvue-router公式の実装に沿うよう修正
  samples/web-csr/dressca-frontend/admin/src/router/authentication/authentication.ts
  samples/web-csr/dressca-frontend/admin/src/router/catalog/catalog.ts
  samples/web-csr/dressca-frontend/admin/src/router/error/error.ts
  samples/web-csr/dressca-frontend/admin/src/router/home/home.ts
  samples/web-csr/dressca-frontend/admin/src/shared/authentication/authentication-guard.ts
  samples/web-csr/dressca-frontend/consumer/src/router/authentication/authentication.ts
  samples/web-csr/dressca-frontend/consumer/src/router/basket/basket.ts
  samples/web-csr/dressca-frontend/consumer/src/router/catalog/catalog.ts
  samples/web-csr/dressca-frontend/consumer/src/router/error/error.ts
  samples/web-csr/dressca-frontend/consumer/src/router/ordering/ordering.ts
  samples/web-csr/dressca-frontend/consumer/src/shared/authentication/authentication-guard.ts
Labels: target: Dressca

#2204 VSCode用のtextlint拡張機能を変更する
  documents/README.md
  maia.code-workspace
Labels: 内部の改善

#2210 Prettierのスクリプトに関する設定を追加
  samples/azure-ad-b2c-sample/auth-frontend/app/.prettierignore
  samples/azure-ad-b2c-sample/auth-frontend/app/package.json
  samples/web-csr/dressca-frontend/admin/.prettierignore
  samples/web-csr/dressca-frontend/consumer/.prettierignore
  samples/web-csr/dressca-frontend/consumer/package.json
Labels: npm, target: Dressca, target: Azure AD B2C Auth

#2029 MyBatis Generatorによる自動生成についてのドキュメントを記載
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/index.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/infrastructure-project-settings.md
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/mybatis-generator-settings.md
  documents/contents/images/guidebooks/how-to-develop/java/h2_console_page.png
  documents/contents/images/guidebooks/how-to-develop/java/h2_database_creation_page.png
  documents/contents/images/guidebooks/how-to-develop/java/indicator_display.png
  documents/mkdocs.yml
Labels: target: ガイド/AP開発手順

#2212 openapi-generatorを7.12.0にアップデートする
  samples/azure-ad-b2c-sample/auth-frontend/app/openapitools.json
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/.openapi-generator/VERSION
  samples/azure-ad-b2c-sample/auth-frontend/app/src/generated/api-client/configuration.ts
  samples/web-csr/dressca-frontend/admin/openapitools.json
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/.openapi-generator/VERSION
  samples/web-csr/dressca-frontend/admin/src/generated/api-client/configuration.ts
  samples/web-csr/dressca-frontend/consumer/openapitools.json
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/.openapi-generator/VERSION
  samples/web-csr/dressca-frontend/consumer/src/generated/api-client/configuration.ts
Labels: target: Dressca, target: Azure AD B2C Auth

#2216 集約例外ハンドラーのガイドのコードのハイライトを修正
  documents/contents/guidebooks/how-to-develop/java/sub-project-settings/exception-handling.md
Labels: target: ガイド/AP開発手順, 内部の改善

#2218 Dressca サンプルアプリのmockの買い物かごアイテム削除処理を修正
  samples/web-csr/dressca-frontend/consumer/mock/handlers/baskets-handler.ts
Labels: 不具合, target: Dressca

#2222 クイックスタートに拡張機能の初期化処理に関する説明を追加
  documents/contents/images/extensions-init-status-dark.png
  documents/contents/images/extensions-init-status-light.png
  documents/contents/index.md
Labels: target: トップページ/テンプレート

#2223 クイックスタートにbootRunDevタスクが100%にならない旨を追記
  documents/contents/images/bootrundev-execute-example.png
  documents/contents/index.md
Labels: target: トップページ/テンプレート

#2225 アイテム編集画面とアイテム追加画面の単価のバリデーションが想定通り動作しない問題に対処
  samples/web-csr/dressca-frontend/admin/src/validation/validation-items.ts
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsAddView.vue
  samples/web-csr/dressca-frontend/admin/src/views/catalog/ItemsEditView.vue
Labels: 不具合, target: Dressca

#2227 エラーイベントログをconsole.errorに変更する
  documents/contents/guidebooks/how-to-develop/vue-js/error-handler-settings.md
  samples/azure-ad-b2c-sample/auth-frontend/app/src/services/authentication/authentication-service.ts
  samples/azure-ad-b2c-sample/auth-frontend/app/src/shared/error-handler/global-error-handler.ts
  samples/web-csr/dressca-frontend/admin/src/shared/error-handler/global-error-handler.ts
  samples/web-csr/dressca-frontend/consumer/src/shared/error-handler/global-error-handler.ts
Labels: 不具合, target: Dressca, target: アーキテクチャ/CSR, target: Azure AD B2C Auth, target: ガイド/AP開発手順

#2347 gradle ダウンロード時のタイムアウト時間を修正する
  samples/azure-ad-b2c-sample/auth-backend/gradle/wrapper/gradle-wrapper.properties
  samples/azure-ad-b2c-sample/auth-backend/system-common/gradle/wrapper/gradle-wrapper.properties
  samples/azure-ad-b2c-sample/auth-backend/web/gradle/wrapper/gradle-wrapper.properties
  samples/web-csr/dressca-backend/application-core/gradle/wrapper/gradle-wrapper.properties
  samples/web-csr/dressca-backend/batch/gradle/wrapper/gradle-wrapper.properties
  samples/web-csr/dressca-backend/gradle/wrapper/gradle-wrapper.properties
  samples/web-csr/dressca-backend/infrastructure/gradle/wrapper/gradle-wrapper.properties
  samples/web-csr/dressca-backend/system-common/gradle/wrapper/gradle-wrapper.properties
  samples/web-csr/dressca-backend/web-admin/gradle/wrapper/gradle-wrapper.properties
  samples/web-csr/dressca-backend/web-consumer/gradle/wrapper/gradle-wrapper.properties
  samples/web-csr/dressca-backend/web/gradle/wrapper/gradle-wrapper.properties
Labels: target: Dressca, target: Azure AD B2C Auth

#2273 アイテム編集画面のパスパラメーターのitemIdの定義を数値のみに変更
  samples/web-csr/dressca-frontend/admin/src/router/catalog/catalog.ts
Labels: target: Dressca
